.nav-user-icon {
  font-size: 25px;
}

.outer-pgnot {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagenotfound {
  width: auto;
  height: 350px;
  object-fit: contain;
  mix-blend-mode: darken;
}

.inner-Holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  padding: 5px;
  border-radius: 30px;
}

.search-icon {
  font-size: 30px;
}
.search-field {
  border: none;
  flex: auto;
  padding-left: 15px;
}

.search-field:focus {
  outline: none;
}

.table-content {
  min-height: 50vh;
}
td,
th {
  vertical-align: middle;
}
.footer {
  position: relative;
  text-align: center;
  background: #f8f9fa;
  width: 100%;
  height: auto;
  padding: 10px;
}
/* -------------------------------- */

.form-outer {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: #f0f8ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head-sign {
  margin-bottom: 30px;
}

.title {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.form {
  width: 350px;
  margin: 15px;
  background: white;
  padding: 30px;
  box-shadow: 0px 25px 100px rgba(0, 10, 10, 0.4);
}

.form-control:focus {
  border-color: white !important;
  outline: 1.5px solid rgba(55, 55, 55, 0.7) !important;
  animation: out-line 0.5s ease alternate;
}
.Domain-form-outer {
  margin: 25px;
  min-height: 75vh;
}
.head {
  margin-bottom: 15px;
}

.Domain-form-inner {
  margin-top: 20px;
}

.empty-img-outer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.empty-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
}

.Add-Record {
  display: flex;
  flex-direction: column;
}
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

#Table-view {
  min-height: 70vh;
}

@keyframes scale-up4 {
  20% {
    background-color: black;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

@keyframes out-line {
  0% {
    outline-offset: 10px;
  }
  100% {
    outline-offset: 0px;
  }
}
